{% extends "base.html.twig" %}
{%  set doNotShowAdvButton = 1 %}
{% set title = 'Reset password'|trans %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
<div id="mainsfrormsuccess" style="display:block">
	<p>
	{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime|pluralize_hours})|nl2br }}
	</p>
</div>
{% endblock %}
