
{#
<div class="aformwrap upformwrap inrelative payformwr">
	<div id="hPaysumGr">
		<p class="b please tj payformmsg">Извините, оплата поднятий временно недоступна.</p>
	</div>
</div>
#}
<payform ref="payform"></payform>